.body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #282828;

    .title {
        display: flex;
        justify-content: center;
    }
}

.header {
    background-color: #282828;
    color: whitesmoke;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;


    .logo {
        height: 100px;

        .logoImg {
            height: 100%;
        }
    }

    .navBar {

        .navButton {
            font-size: 20px;
            padding: 20px;
            margin: 0px 5px 0px 5px;
            border-style: solid;
            border-radius: 5px;
            border-color: rgb(0, 0, 0);
        }

        .navLink {
            color: rgb(46, 46, 46);
            text-decoration: none;
        }
    }

    .socials {
        height: 100px;
    
        .socialsImg {
            height: 100%;
        }
    }
}

.servicesTab {
    padding: 20px;
    background-color: yellow;

    display: flex;
    flex-direction: column;

    .services {
        color: red;
        display: flex;
        justify-content: center;
    }
}

.portfolioTab {
    height: 2000px;
    padding: 20px;
    background-color: pink;

    display: flex;
    flex-direction: column;

    .portfolio {
        display: flex;
        justify-content: center;
    }
}
    
.footer {
    background-color: #282828;
    color: white;
    padding: 20px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}